body {
  height: 100%;
}

#app {
  height: 100%;

  .md-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .md-sidenav {
    .md-sidenav-content {
      z-index: 998;
    }
  }

  .page-container {
    padding: 64px 8px 0;
  }
}

body .md-dialog-container {
  z-index: 999;
}