<template>
    <div>
        <md-toolbar>
            <md-button class="md-icon-button">
                <md-icon>home</md-icon>
            </md-button>

            <h2 class="md-title" style="flex: 1">Dashboard</h2>

            <md-button @click.native="logoutUser">Logout</md-button>
        </md-toolbar>

        <div class="page-container">
            <md-layout md-gutter="8">
                <md-layout v-for="house in houses" :key="house.id"
                           md-flex="33"
                           md-flex-small="50"
                           md-flex-xsmall="100">
                    <md-card>
                        <md-card-area md-inset>
                            <md-card-header>
                                <md-card-header-text>
                                    <div class="md-title">{{house.label}}</div>
                                    <div class="md-subhead">{{house.address}}</div>
                                </md-card-header-text>

                                <md-menu md-size="4" md-direction="bottom left">
                                    <md-button class="md-icon-button" md-menu-trigger>
                                        <md-icon>more_vert</md-icon>
                                    </md-button>

                                    <md-menu-content>
                                        <md-menu-item
                                                v-if="house.location.lat && house.location.lng"
                                                :href="'https://www.google.com/maps/@'+house.location.lat+','+house.location.lng+',12z'">
                                            <span>Show on map</span>
                                            <md-icon>map</md-icon>
                                        </md-menu-item>
                                        <md-menu-item :href="house.link" v-if="house.link">
                                            <span>Visit Page</span>
                                            <md-icon>link</md-icon>
                                        </md-menu-item>
                                        <md-menu-item @click.native="deleteHouse(house.id, $event)">
                                            <span>Delete</span>
                                            <md-icon>delete</md-icon>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-card-header>

                            <md-card-media>
                                <img src="/images/house1.jpg" alt="House 1">

                                <div class="rating">
                                    <md-icon class="md-primary" v-for="n in house.rating" :key="house.id">star</md-icon>
                                </div>
                            </md-card-media>

                            <md-card-content>
                                <h3 class="md-title">{{house.type}}</h3>
                                <p>€ {{house.price}}</p>
                            </md-card-content>
                        </md-card-area>

                        <md-card-content>
                            <p v-if="house.description">{{house.description}}</p>
                            <div v-if="house.note">
                                <h3 class="md-subheading">My Notes</h3>
                                <p>{{house.note}}</p>
                            </div>
                        </md-card-content>
                    </md-card>
                </md-layout>
            </md-layout>
        </div>

        <md-button id="fab" class="md-fab md-fab-bottom-right" @click.native="goToNewHouse">
            <md-icon>add</md-icon>
        </md-button>

        <md-dialog-confirm
                :md-title="'Delete'"
                :md-content-html="'Are you sure?'"
                :md-ok-text="'OK'"
                :md-cancel-text="'CANCEL'"
                @close="onConfirmDeleteDialogClose"
                ref="dialogDeleteHouseConfirm">
        </md-dialog-confirm>
    </div>
</template>

<script>
    import ApiService from "./../services/api";
    import AuthService from "./../services/auth";
    import store from './../store';
    import {EventBus} from '../services/event-bus';
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                picked: false,
            }
        },
        created() {
            setTimeout(() => {
                ApiService.fetchHouses();
            }, 1000);
        },
        computed: mapState({
            houses: 'houses',
        }),
        methods: {
            deleteHouse(id, e) {
                this.picked = id;
                this.openDialog('dialogDeleteHouseConfirm');
            },
            onConfirmDeleteDialogClose(type) {
                if (type === 'ok') {
                    ApiService.deleteHouse(this.picked)
                            .then((response) => {
                                ApiService.fetchHouses();
                            });
                }
            },
            openDialog(ref) {
                this.$refs[ref].open();
            },
            closeDialog(ref) {
                this.$refs[ref].close();
            },
            logoutUser() {
                AuthService.logout();

                this.$root.$router.push({name: 'login'});
            },
            goToNewHouse() {
                this.$root.$router.push({name: 'new-house'});
            }
        }
    }
</script>

<style lang="scss" scoped>
    .md-button.md-fab {
        position: fixed !important;
    }

    .md-layout.md-gutter-8 {
        margin-top: 8px;
    }

    .md-layout > .md-layout {
        margin-bottom: 8px;
    }

    .md-card-media .rating {
        position: absolute;
        top: 20px;
        right: 20px;
    }
</style>