<template>
    <div>
        <div style="text-align: center">
            <md-icon class="md-accent md-size-3x">home</md-icon>
            <h1 class="md-headline">HousePool</h1>
        </div>
        <md-layout md-gutter>
            <md-layout md-flex="50" md-flex-offset="25">
                <form v-if="!register" novalidate @submit.stop.prevent="attemptLogin">
                    <p class="md-subheading">Enter your credentials to login</p>
                    <md-input-container>
                        <label>Email</label>
                        <md-input v-model="loginCredentials.email" type="email"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <md-input type="password" v-model="loginCredentials.password"></md-input>
                    </md-input-container>
                    <md-button class="md-raised" @click.stop.native="register=true">register</md-button>
                    <md-button class="md-raised md-primary" type="submit">login</md-button>
                </form>

                <form v-if="register" novalidate @submit.stop.prevent="storeNewUser">
                    <p class="md-subheading">Enter your credentials to register</p>
                    <md-input-container>
                        <label>Email</label>
                        <md-input v-model="newUser.email" type="email" autocomplete="off"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <md-input type="password" v-model="newUser.password" autocomplete="new-password"></md-input>
                    </md-input-container>
                    <md-input-container>
                        <label>Confirm Password</label>
                        <md-input type="password" v-model="newUser.password_confirmation" autocomplete="new-password"></md-input>
                    </md-input-container>
                    <md-button class="md-raised" @click.stop.native="register=false">cancel</md-button>
                    <md-button class="md-raised md-primary" type="submit">register</md-button>
                </form>
            </md-layout>
        </md-layout>
    </div>
</template>

<script>
    import ApiService from "../services/api";
    import AuthService from "../services/auth";
    import {mapState} from 'vuex';

    export default {
        data: function () {
            return {
                register: false,
                loginCredentials: {
                    email: '',
                    password: ''
                },
                newUser: {}
            }
        },
        computed: mapState({
            user: 'user'
        }),
        methods: {
            attemptLogin() {
                ApiService.attemptLogin(this.loginCredentials.email, this.loginCredentials.password).then((response) => {
                    AuthService.login(this.loginCredentials.email, response.data.data.token);

                    this.$root.$router.push({name: 'dashboard'});
                }).catch((error) => {
                    console.log(error);
                });
            },
            storeNewUser() {
                ApiService.storeUser(this.newUser).then((response) => {
                    this.register = false;
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
    form {
        width: 100%;
    }
</style>