<template>
    <div>
        <md-toolbar>
            <md-button class="md-icon-button">
                <md-icon>home</md-icon>
            </md-button>

            <h2 class="md-title" style="flex: 1">Create new house</h2>

            <md-button @click.native="logoutUser">Logout</md-button>
        </md-toolbar>

        <div class="page-container">
            <md-layout md-gutter>
                <md-layout md-flex="50" md-flex-offset="25">
                    <form id="createNewHouse" style="width: 100%">
                        <md-layout md-gutter>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Label</label>
                                    <md-input v-model="newHouse.label" required></md-input>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-flex="50"></md-layout>
                        </md-layout>
                        <md-layout md-gutter>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Address</label>
                                    <md-input v-model="newHouse.address" required></md-input>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Location
                                        <small>(lat,lng)</small>
                                    </label>
                                    <md-input v-model="newHouse.location" pattern="\d+(\.\d+)?,\d+(\.\d+)?"></md-input>
                                </md-input-container>
                            </md-layout>
                        </md-layout>
                        <md-layout md-gutter>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Type</label>
                                    <md-select v-model="newHouse.type" required>
                                        <md-option value="house">House</md-option>
                                        <md-option value="apartment">Apartment</md-option>
                                        <md-option value="townhouse">Townhouse</md-option>
                                        <md-option value="villa">Villa</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Price</label>
                                    <md-input v-model="newHouse.price" type="number"></md-input>
                                </md-input-container>
                            </md-layout>
                        </md-layout>
                        <md-layout md-gutter>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Link</label>
                                    <md-input v-model="newHouse.link" required pattern="^https?:\/\/.*"></md-input>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Description</label>
                                    <md-textarea v-model="newHouse.description" required></md-textarea>
                                </md-input-container>
                            </md-layout>
                        </md-layout>
                        <md-layout md-gutter>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Rating</label>
                                    <md-select v-model="newHouse.rating" required>
                                        <md-option value="4">Love It</md-option>
                                        <md-option value="3">Good</md-option>
                                        <md-option value="2">Nice</md-option>
                                        <md-option value="1">Why not</md-option>
                                    </md-select>
                                </md-input-container>
                            </md-layout>
                            <md-layout md-flex="50">
                                <md-input-container>
                                    <label>Notes</label>
                                    <md-textarea v-model="newHouse.note"></md-textarea>
                                </md-input-container>
                            </md-layout>
                        </md-layout>

                        <md-button class="md-raised"
                                   @click.native="$root.$router.push({name: 'dashboard'})">Cancel</md-button>
                        <md-button class="md-raised md-accent"
                                   type="submit"
                                   @click.native="storeNewHouse">Create</md-button>
                    </form>
                </md-layout>
            </md-layout>
        </div>
    </div>
</template>

<script>
    import ApiService from "./../services/api";
    import AuthService from "./../services/auth";
    import store from './../store';
    import {EventBus} from '../services/event-bus';
    import {mapState} from 'vuex';

    export default {
        data() {
            return {
                newHouse: {}
            }
        },
        methods: {
            logoutUser() {
                AuthService.logout();

                this.$root.$router.push({name: 'login'});
            },
            storeNewHouse() {
                ApiService.storeHouse(this.newHouse)
                        .then((response) => {
                            this.$root.$router.push({name: 'dashboard'});
                        });
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>